/** navbar**/
body{
  background-color: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/**end nav**/

/** hero**/

.list-quotes {
    cursor: pointer;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    display: block;
    border-bottom: 1px solid blue;
}

.list-quotes img,
.list-quotes h1 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
.list-quotes img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.list-quotes h1{
    background: rgba(20,31,44,0.8);
    bottom: 30px;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    margin: 0;
}


.list-quotes:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    transition: all 250ms ease;
}
.list-quotes:hover{
    box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}


/**end hero**/

/**portfolio**/

.Portfolio {

 text-align: center;
 margin-top: 0px;
 padding-top: 225px;

}

/**end portfolio**/

/**column**/

.list-quotes:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    transition: all 250ms ease;
}
.list-quotes:hover{
    box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}

.list-quotes img,
.list-quotes h1 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;

/**end column**/

/** start footer styles**/

.main-footer {
    border-top: 1px solid #000000;
    background: black;
    color: #FAFAFA;
}

.main-footer:after {
    content: "";
    display: block;
    clear: both;
}

.footer-section {
    width: 33%;
    height: 150px;
    float: left;
    padding: 15px 0px;
    border-left: 1px solid #000000;
    text-align: center;
}

.section {
    height: 50px;
    width: 150px;
}

.center {
    margin: 0 auto;
}

.social-media {
    height: 50px;
    width: 50px;
}

.social-media a .fa {
    color: white;
    font-size: 36px;
}
